<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geotracktms.app">

    <!-- Permisos para GPS y Monitoreo en Tiempo Real -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Permiso para que la app no se cierre al estar en segundo plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="GeoTrack TMS"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Servicio que mantiene el GPS activo mientras el repartidor está en ruta -->
        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />
            
    </application>
</manifest>